/* MAIN */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #f7f7f7;
}

a,
a:hover {
  color: #9933ff;
}

.uk-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #333;
}

.uk-navbar {
  display: block;
  width: 100vw;
  margin: 0 auto;
  padding: 0% 5% 0% 5%;
}

.page-title {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-weight: 500;
}

.page-section {
  width: 55vw;
  padding: 8% 10% 30% 12%;
}

.about-me-intro {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.about-me-body {
  font-family: "Roboto", sans-serif;
}

#portfolio {
  width: 78vw;
}

#contact {
  padding: 8% 10% 30% 12%;
}

.input-field {
  width: 50vw;
  margin: 2% 0% 0% 0%;
}

.submit-button {
  margin: 2% 0% 0% 0%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 590px) {
  .uk-logo {
    width: 100vw;
  }

  .navbar {
    width: 100vw;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .page-section {
    width: 75vw;
  }
}

@media screen and (max-width: 980px) {
  .input-field {
    width: 75vw;
  }
}
